<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Baixar Arquivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>

    <ion-item-divider>
      <b>Conexão com o Arduino</b>
    </ion-item-divider>

    <div *ngIf="!conectadoArduino">
      <ion-item>
        <ion-icon item-start name="alert" color="danger"></ion-icon>
        Status:
        <ion-note item-end color="danger">
          Não conectado
        </ion-note>
      </ion-item>
    </div>
    <div *ngIf="conectadoArduino">
      <ion-item>
        <ion-icon item-start name="checkmark-circle" color="secondary"></ion-icon>
        Status:
        <ion-note item-end color="secondary">
          Conectado
        </ion-note>
      </ion-item>
    </div>
    <button ion-item detail-push (click)="abrirConfiguracoesBluetooth();">
      <ion-icon item-start name="bluetooth" color="dark"></ion-icon>
      Configurações Bluetooth
      <ion-note item-end>
        {{estadoBluetooth}}
      </ion-note>
    </button>

    <button ion-item (click)="conectarDispositivo();">
      <ion-icon item-start name="sync" color="dark"></ion-icon>
      Conectar ao Arduino
    </button>
    <!-- <ion-item>
    <button ion-button block clear item-end primary (click)="conectarDispositivo();">Conectar ao Arduino</button>
    </ion-item> -->

    <ion-item-divider>
      <b>Obter o arquivo do Arduino</b>
    </ion-item-divider>


    <button ion-item (click)="transferirArquivo();">
      <ion-icon item-start name="download" color="dark"></ion-icon>
      Transferir Arquivo
    </button>

    <ion-item-divider>
      <b>Encerrar conexão com Arduino</b>
    </ion-item-divider>

    <button ion-item (click)="testeDesconectarArduino();">
      <ion-icon item-start name="power" color="dark"></ion-icon>
      Desconectar
    </button>
    <!-- <p>{{this.streamBluetooth}}</p> -->
  </ion-item-group>
</ion-content>