<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Visualizar Dados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <button ion-button block icon-start (click)="lerArquivo();">
        <ion-icon name="search"></ion-icon>
        Ler Arquivo
      </button>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="dadosLidos">
    <ion-row>
      <ion-col>
        Foram encontrados registros de água no período:
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        De: <b>{{menorDataEncontrada}}</b>
      </ion-col>
      <ion-col>
        Até: <b>{{maiorDataEncontrada}}</b>
      </ion-col>
    </ion-row>
    <ion-row>&nbsp;</ion-row>
    <ion-row>
      <button ion-button full icon-start color="light" (click)="mostrarFiltros()">
        <ion-icon name="ios-funnel"></ion-icon>
        Filtrar dados
      </button>
    </ion-row>

    <ion-list *ngIf="nenhumDado">
        <ion-item>
          <h2><b>Sem registros para o filtro informado</b></h2>
          <p>Informe datas dentro do período acima</p>
        </ion-item>
      </ion-list>
    <ion-list *ngIf="!nenhumDado && parametros">
      <ion-item>
        <h2><b>Fluxo total no período:</b></h2>
        <p>{{parametros.fluxoTotal.toFixed(3)}} litros</p>
      </ion-item>
      <ion-item>
        <h2><b>Fluxo médio no período:</b></h2>
        <p>{{parametros.mediaFluxo.toFixed(3)}} litros por minuto</p>
      </ion-item>
      <ion-item>
        <h2><b>Maior fluxo: {{parametros.maiorFluxo.valorRegistro.toFixed(3)}} litros</b></h2>
        <p>Em: {{parametros.maiorFluxo.dataRegistro.toLocaleDateString('pt-br', { year: 'numeric', month: 'numeric',
          day: 'numeric', hour: '2-digit', minute: '2-digit' })}}</p>
      </ion-item>
      <ion-item>
        <h2><b>Menor fluxo: {{parametros.menorFluxo.valorRegistro.toFixed(3)}} litros</b></h2>
        <p>Em: {{parametros.menorFluxo.dataRegistro.toLocaleDateString('pt-br', { year: 'numeric', month: 'numeric',
          day: 'numeric', hour: '2-digit', minute: '2-digit' })}}</p>
      </ion-item>
      <ion-item>
        <h2><b>Horário de maior fluxo: {{parametros.horarioMaiorFluxo.dataRegistro.toLocaleTimeString('pt-br', {hour: '2-digit'})}} h</b></h2>
        <p>Fluxo total: {{parametros.horarioMaiorFluxo.valorRegistro.toFixed(3)}} litros</p>
      </ion-item>
    </ion-list>    
    <ion-row *ngIf="!nenhumDado && parametros"> 
      <ion-col>
        <button ion-button block icon-start color="light" (click)="mostrarGrafico('hora');">
          <ion-icon name="time"></ion-icon>
          Fluxo por hora
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block icon-start color="light" (click)="mostrarGrafico('dia');">
          <ion-icon name="calendar"></ion-icon>
          Fluxo por dia
        </button>
      </ion-col>
    </ion-row>
    <div>
      <div style="display: block" *ngIf="exibirGraficoHora">
        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div style="display: block" *ngIf="exibirGraficoDia">
        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>    
  </ion-grid>
</ion-content>